html {
    background: linear-gradient(200deg, rgb(80, 176, 255), rgb(87, 228, 249));
    background-size: 600% 600%;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    animation: TackyGradient 12s ease infinite;
  }
  html * {
     font-family: sans-serif !important;
  }

  body {
    cursor: default;
    background-color: aliceblue;
    padding: 10px;
    text-align: justify;
  }

  .burger {
    text-align: center;
    color:rgb(11, 47, 252);
    padding: 50px;
    background:
    url('../assests/background-burger.jpg') center no-repeat;
  }